@use 'sass:math';

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSansJP-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSansJP-Medium.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 1rem; // 16px
$space-m: 2rem; // 32px
$space-l: 3rem; // 48px
$space-xl: 5rem; // 80px
$space-xxl: 7rem; // 112px
$space-xxxl: 9rem; // 146px

// --- Colors ---
$color-text: #595959;
$color-base: #fff;
$color-main: #eee;
$color-accent: #292929;
$color-bg: #fafafa;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic:
  'NotoSans', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
  'Hiragino Sans', 'Yu Gothic', Meiryo, sans-serif;
$font-family-mincho:
  'Times New Roman', Times, 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho',
  serif;

// --- Breakpoints ---
$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
);

// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
  @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
  @return #{math.div($xd-value, 100)}em;
}

// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
  @media (width >= map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1500px, $w: 88%) {
  max-width: $mw;
  width: $w;
  margin-left: auto;
  margin-right: auto;
}

@mixin title-main() {
  margin-bottom: $space-xl;
  font-size: rem(28);
  font-weight: bold;
  text-align: center;
}

// =================================================================
//  Common
// =================================================================
html {
  scroll-behavior: smooth;
  font-size: rem(12);

  @include mq(tablet) {
    font-size: rem(14);
  }

  @include mq(desktop) {
    font-size: rem(16);
  }
}

::selection {
  background: $color-accent;
  color: $color-base;
}

body {
  color: $color-text;
  font-size: rem(16);
  font-family: $font-family-gothic;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.15em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  &__inner {
    @include inner();
    padding: $space-m 0;
  }

  &__title {
    position: relative;
    z-index: 9999;
    width: 200px;

    @include mq(tablet) {
      width: 280px;
    }
  }
}

/* --- ハンバーガーボタン --- */
body:has(.hamburger[aria-expanded='true']) {
  overflow: hidden;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1000;
  width: 64px;
  height: 64px;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
  position: fixed;
  top: rem(20);
  right: rem(30);

  &__line {
    display: block;
    position: absolute;
    left: 12px;
    width: 40px;
    height: 1px;
    background-color: $color-text;
    transition: 0.3s;

    &:nth-child(1) {
      top: 22px;
    }
    &:nth-child(2) {
      top: 32px;
    }
    &:nth-child(3) {
      top: 42px;
    }
  }

  &:hover &__line:nth-child(odd) {
    width: 24px;
  }

  &[aria-expanded='true'] &__line {
    &:nth-child(1) {
      width: 40px !important;
      transform: translateY(10px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      width: 40px !important;
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

/* --- オーバーレイメニュー --- */
.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgb(255 255 255 / 98%);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow-y: auto;

  body:has(.hamburger[aria-expanded='true']) & {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    display: grid;
    place-content: center end;
    min-height: 100%;
    padding: rem(100) 8%;
  }

  &__list {
    text-align: right;

    &:has(a:hover) a:not(:hover) {
      opacity: 0.2;
      filter: blur(1px);
    }
  }

  &__item {
    margin-bottom: 2rem;
    transform: translateX(50px);
    opacity: 0;
    transition: 0.4s;

    body:has(.hamburger[aria-expanded='true']) & {
      transform: translateX(0);
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        transition-delay: 0.4s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
      &:nth-child(6) {
        transition-delay: 0.6s;
      }
    }

    a {
      font-size: rem(16);
      text-decoration: none;
      color: $color-text;
      text-transform: uppercase;
      transition: 0.3s;
    }
  }
}

.footer {
  padding: $space-l 0;
  border-top: 1px solid $color-main;
  font-size: rem(14);

  &__inner {
    @include inner();
    display: grid;
    row-gap: $space-s;

    @include mq(tablet) {
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: end;
    }
  }
}

/* --- 上部へ戻るボタン --- */
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 0px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;

  img {
    width: 80px;
  }
}

#back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

/* --- フェードインの基本設定 --- */
[data-animate] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  will-change: opacity, transform;
}

[data-animate='fade-up'] {
  transform: translateY(30px);
}

[data-animate='fade-in'] {
  transform: none;
}

/* --- 監視対象が入ってきた時の状態 --- */
[data-animate].is-animated {
  opacity: 1;
  transform: translate(0, 0);
}

// =================================================================
//  Front-page
// =================================================================
.philosophy {
  padding-bottom: $space-xxl;

  &__inner {
    @include inner(rem(750));
  }

  &__title {
    @include title-main();
  }

  &__text {
    display: grid;
    row-gap: $space-s;
  }
}

.works {
  padding-bottom: $space-xxl;

  &__inner {
    @include inner();
  }
}

// =================================================================
//  Company
// =================================================================

// =================================================================
//  Members
// =================================================================

// =================================================================
//  Process
// =================================================================

// =================================================================
//  Contact
// =================================================================
