@charset "UTF-8";
/*mixin
-------------------------*/
body {
  font-size: 1rem;
  letter-spacing: 0.15em;
  line-height: 1.7;
  color: #595959;
  font-family: Helvetica, Arial, sans-serif;
}

.content__top {
  width: 83.3333333333%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
.content__title {
  font-size: 1.4375rem;
}
.content__category {
  font-size: 0.875rem;
  color: #c2c2c2;
}
.content__thumbnail {
  width: 95%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 960px) {
  .content__thumbnail {
    width: 90%;
    aspect-ratio: 22/9;
  }
}
.content__text {
  width: 83.3333333333%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding: 6.25em 0;
}
@media screen and (min-width: 960px) {
  .content__text {
    display: flex;
    justify-content: space-between;
    padding: 12.5em 0;
  }
}
.content__explain {
  width: 95%;
  padding-bottom: 3.125em;
}
@media screen and (min-width: 960px) {
  .content__explain {
    padding-bottom: 0;
    width: 45%;
  }
}
.content__detail {
  width: 65%;
  margin-left: auto;
}
@media screen and (min-width: 960px) {
  .content__detail {
    width: 25%;
  }
}
.content__list {
  display: flex;
  justify-content: space-between;
}
.content__list dt {
  color: #c2c2c2;
}
.content__right {
  display: block;
}
.content__picture {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .content__picture {
    width: 90%;
  }
}
.content__flex {
  width: 33.33%;
}
.content__img {
  margin-bottom: -10px;
  width: 100%;
}

.modal {
  display: none;
  /* 初期状態は非表示 */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
.modal__content {
  display: block;
  margin: auto;
  width: 65%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 3.75rem;
  cursor: pointer;
}
.modal__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1000;
  padding: 0 15px;
}
.modal__nav--prev {
  left: 20px;
}
.modal__nav--next {
  right: 20px;
}
.modal__nav.hidden {
  display: none;
}

.more {
  width: 85%;
  margin: 5em 0 5em auto;
  background-color: #ededed;
  padding: 3.125em 0;
}
@media screen and (min-width: 960px) {
  .more {
    padding: 5em 0;
    margin-top: 15.625em;
    margin-bottom: 15.625em;
  }
}
.more__title {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 1.875em;
  padding-left: 3.75em;
}
.more__title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 10em;
  height: 1.5px;
  background-color: #c2c2c2;
}
@media screen and (min-width: 960px) {
  .more__title {
    margin-bottom: 3.125em;
  }
}
.more__wrapper {
  overflow: hidden;
  position: relative;
}
.more__flex {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}
.more__link {
  flex: 0 0 auto;
  width: 180px;
  padding-right: 1.25em;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .more__link {
    width: 200px;
    padding-right: 2.5em;
  }
}
.more__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.more__img {
  width: 100%;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.more__one {
  font-size: 0.875rem;
  margin-top: 0.625em;
}
/*# sourceMappingURL=content.css.map */