@charset "UTF-8";
$breakpoints: (
    "mobile": "screen and (min-width: 390px)",
    "tablet": "screen and (min-width: 768px)",
    "desktop": "screen and (min-width: 960px)",
    ) !default;

/*mixin
-------------------------*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: 95%, $mw: 15000px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16) * 1rem;
}

// @include m-query(desktop) {
.body {
    color: #000;
}

.span {
    background-image: url("../img/1.jpg"
    );
background-size: cover;
background-position: center;
display: block;
width: 100%;
height: 100vh;
position: relative;

&__nav {
    color: #fff;
    position: relative;
    z-index: 2;
    // padding-top: 23.75em;
    // padding-left: 13.75em;
    // margin: auto 0;
    top: 20%;
    left: 15%;

    @include m-query(desktop) {
        // padding-top: 23.75em;
        // padding-left: 13.75em;
        top: 23%;
        left: 15%;

    }


    h1 {
        font-size: f-rem(20);

        @include m-query(desktop) {
            font-size: f-rem(27);
            padding-top: (40em/27);
        }
    }

    p {
        font-size: f-rem(12);
    }
}

&__namber {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    margin-top: (45em/18); //45px
}

&__line {
    width: 100px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
}

&__Category {
    padding-top: (35em/16);
    align-items: center;
    gap: 135px;
}

&__more {
    padding-top: f-rem(55);
    text-decoration: underline;
}

&__scroll {
    @include m-query(desktop) {
        padding-top: (170em/16);
        margin-left: (120em/16);
    }
}
}

.half__black__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;

    @include m-query(desktop) {
        width: 50vw;
        background: rgba(0, 0, 0, 0.4);
    }
}

/*　スクロールダウンの実装
------------------------------*/
.span__scroll {
    position: relative;
    width: fit-content;
    margin-top: 70px;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50px;
        width: 1px;
        height: 100px;
        background: #fff;
        animation: scroll 2s infinite;
        transform: translateX(-50%);
    }
}


@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/*　スクロールダウンの実装ここまで！！！！
------------------------------*/
//ここまで{}の確認OK
/* こっからわーくす！！！！
------------------------------*/
.works {
    padding-top: (100em/16);

    @include m-query(desktop) {
        padding-top: (200em/16);
    }


    // padding-left: 10%;
    @include m-inner();

    &__title {
        font-size: f-rem(30);
        margin-bottom: 0.5em;
    }

    &__tag__all {

        padding-top: (30em/16);
        padding-bottom: (80em/16);
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: f-rem(8);

        @include m-query(desktop) {
            padding-top: (40em/16);
            padding-bottom: (100em/16);
        }

        .works__tag-link {
            display: inline-block;
            text-align: center;
            font-size: f-rem(14);
            box-sizing: border-box;
            transition: opacity 0.2s;
            position: relative;
            padding: 0 1em;

            &:not(.works__tag-current):hover::before {
                content: "『  ";
                // padding-right: f-rem(5);
                position: absolute;
                left: 0;
                top: 0;
            }

            &:not(.works__tag-current):hover::after {
                content: "  』";
                // padding-left: f-rem(5);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .works__tag-current {
        &::before {
            content: "「 ";
        }

        &::after {
            content: " 」";
        }
    }

    &__posts {
        display: flex;
        gap: f-rem(10);
        flex-wrap: wrap;

        @include m-query(desktop) {
            gap: f-rem(20);
        }
    }

    &__post {
        // width: f-rem(300);
        width: 31%;
        padding-bottom: (30em/16);
        background: #fff;
        border-radius: 0.5em;

        @include m-query(desktop) {
            width: 22%;
            padding-bottom: (80em/16);
        }

        a {
            display: block;
            color: inherit;
            text-decoration: none;
        }

        h2 {
            padding-top: (10em/16);
            font-size: f-rem(14);
        }

        p {
            font-size: f-rem(10);
            color: #888;

            @include m-query(mobile) {
                font-size: f-rem(12);
            }
        }
    }

    &__img {
        // width: f-rem(230);
        // height: f-rem(330);
        aspect-ratio: 2/3;
        object-fit: cover;
        // overflow: hidden;
        display: block;
        position: relative;

        // @include m-query(mobile) {
        //     aspect-ratio: 3/4;
        // }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            // モノクロのやつ
            filter: grayscale(100%);
        }

        :hover {
            filter: grayscale(0%);
            transition: 0.5s;
        }
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    &.in-view {
        opacity: 1;
        transform: translateY(0);
    }
}

/* こっからわーくすおわり！！！！
------------------------------*/


$footer-border: #ddd;
$footer-copy-color: #555;

.footer {
    border-top: 1px solid $footer-border;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__inner {
        @include m-inner();
    }

    &__address {
        // flex: 1;
        // min-width: 13.75em;
        font-size: f-rem(16);
        // padding-top: (50em/16);

        // @include m-query(desktop) {
        //     // padding-top: (30em/16); // 137 - 75px/16
        // }

        &-line {
            margin: 0 0 0.5em 0;
            font-size: f-rem(14);
        }
    }

    &__right {
        flex: 1;
        min-width: 13.75em;
        line-height: 1.8;
        text-align: right;
        font-size: f-rem(16);
    }

    &__nav {
        &-list {
            list-style: none;
            padding: 0;
            margin: 0 0 0.625em 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &-item {
            margin-bottom: (5/16); // 5px/16
        }

        &-link {
            letter-spacing: 0.1em;
            text-decoration: none;
            color: inherit;
            font-size: f-rem(14);
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__copy {
        font-size: f-rem(12);
        color: $footer-copy-color;
        margin-top: (10/12); // 10px
    }

    &__address {
        flex: 1;
        // min-width: 13.75em; // 220px/16
        font-size: f-rem(16);
        padding-top: 3.9em; //137 - 75px/16

        &-line {
            margin: 0 0 0.5em 0;
            font-size: f-rem(14);
        }
    }

    // &__right {
    //     flex: 1;
    //     min-width: 13.75em;
    //     line-height: 1.8;
    //     text-align: right;
    //     font-size: f-rem(16);
    // }

    // &__nav {
    //     &-list {
    //         list-style: none;
    //         padding: 0;
    //         margin: 0 0 0.625em 0; // 10px/16
    //         display: flex;
    //         flex-direction: column;
    //         align-items: flex-end;
    //     }

    //     &-item {
    //         margin-bottom: (5/16); // 5px/16
    //     }

    //     &-link {
    //         letter-spacing: 0.1em;
    //         text-decoration: none;
    //         color: inherit;
    //         font-size: f-rem(14);
    //         transition: opacity 0.2s;

    //         &:hover {
    //             opacity: 0.7;
    //         }
    //     }
    // }

    // &__copy {
    //     font-size: f-rem(12);
    //     color: $footer-copy-color;
    //     margin-top: (10/12); // 10px
    // }
}

// }