@charset "UTF-8";

body {
    font-family: "Inter", sans-serif;
}

/* 共通 */
.inner {
    width: 90%;
    margin: 0 auto;
}

/* header*/
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

/* 会社ロゴ */
header h1 {
    flex: 1;
}

.logo {
    width: 280px;
}

/*メールロゴ*/
.mail {
    width: 60px;
}

/* インスタアイコン*/
.inst {
    width: 35px;
}

/* ハンバーガーメニュー */
.hamburger {
    z-index: 1000;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.hamburger span {
    display: block;
    height: 1px;
    width: 40px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center center;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 15px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -10px);
}

/* メニュー */
.menu {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    font-size: 18px;
    transition: opacity 0.6s ease;
    z-index: 50;
}

.menu.active {
    opacity: 1;
    pointer-events: all;
}

/* メニューリスト */
.menu ul {
    list-style: none;
    margin: 0 80px;
    padding: 0;
}

.menu li {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 20px;
}

.menu.active li {
    opacity: 1;
    transform: translateY(0);
}

.menu.active li:nth-child(1) {
    transition-delay: 0.2s;
}

.menu.active li:nth-child(2) {
    transition-delay: 0.3s;
}

.menu.active li:nth-child(3) {
    transition-delay: 0.4s;
}

.menu.active li:nth-child(4) {
    transition-delay: 0.5s;
}

.menu.active li:nth-child(5) {
    transition-delay: 0.6s;
}

.menu.active li:nth-child(6) {
    transition-delay: 0.7s;
}

@media (max-width: 768px) {
    .menu {
        justify-content: flex-start;
    }

    .menu ul {
        margin-left: 40px;
    }
}

/* main */
.philosophy {
    width: 100%;
    display: flex;
}

.philosophy-text {
    line-height: 2;
    position: relative;
    padding: 120px 100px;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.philosophy-text::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../img/rinenBg.png) no-repeat center center / cover;
    transition: filter 1s ease;
    filter: blur(0px);
    z-index: -1;
}

.philosophy-text.scrolled::before {
    filter: blur(6px);
}

.philosophy-text h2,
.philosophy-text p {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.philosophy-text.scrolled h2,
.philosophy-text.scrolled p {
    opacity: 1;
    transform: translateY(0);
}

.philosophy-text h2 {
    font-size: 32px;
    margin-bottom: 60px;
}

.philosophy-text p {
    font-size: 16px;
    margin-bottom: 50px;
}

/*office*/
.office {
    width: 50%;
    margin-left: auto;
    padding: 160px 0 330px;
}

.office h2 {
    display: block;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.2em;
    width: fit-content;
    margin-bottom: 100px;
}

.office h2::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: -110px;
}

.office h3 {
    font-size: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
}

.office li {
    margin-bottom: 15px;
}

.activities {
    margin-bottom: 110px;
}

.summary {
    position: relative;
}

.summary h3 {
    margin-bottom: 50px;
}

.summary dl {
    display: grid;
    grid-template-columns: 115px 1fr;
}

.summary dt {
    padding: 25px 50px 25px 0;
}

.summary dd {
    border-left: #000 solid 1px;
    padding: 25px 50px;
}